/*Haome Page CSS File*/

/*Font of the Page*/
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background-color: rgb(196, 195, 194);
}

/*Header*/
header {
    position: fixed;
    background: linear-gradient(to right, #2B8380, #768D8C, #2B8380);
    height: 165px;
    width: 100%;
    z-index: 1;
}

/*Fixed Topbar*/
.fixed-top {
    background: black;
    height: 50px;
    width: 100%;
    padding: 5px 25px 5px 0px;
}
button.btn.btn-success {
    float: right;
}
.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
    height: 35px;
    padding: 5px 10px 5px 10px;
}

/*Logo & Site Name*/
.headerWrapper {
    padding: 50px 500px 4px 75px;
}
.left {
    display: -webkit-inline-box;
    padding: 5px;
    width: 6rem;
}
.logowrapper{
    display: inline-block;
    height: 100%;
    width: auto;
    float: left;
}
.logoImg {
    height: 100px;
    width: 85px;
}
.right {
    display: -webkit-inline-box;
    padding: 5px;
    width: 50rem;
}
span.headerheadingWrapper {
    margin-left: 0;
    font-size: 47px;
    font-weight: 650;
    font-variant: all-small-caps;
}
span.headerdescription {
    margin-left: 0;
    font-size: 16px;
    font-weight: 500;
}

/*Navbar*/
.bg-light {
    background-color: #1cbe7f !important;
    height: 35px;
}
li.nav-item {
    -webkit-text-stroke: medium;
    color: white;
    font-size: 18px;
    font-family: monospace;
}
.navbar-light .navbar-nav .nav-link {
    color: rgb(131 16 159 / 50%);
}

/*Latest News & News Marquee Text*/
.latestNewsWrapper {
    background: #d3a312;
    position: relative;
    padding: 5px 30px 5px 30px;
}
.letestNewsTag {
    font-size: 18px;
    font-weight: 600;
    color: #c61f1f;
}
marquee{
    color:#ff0000;
    font-size:16px;
    background:#d3a312;
    padding:0px;
}
.container {
    height: 2rem;
}

/*Body Main Content*/
/*Main*/
main {
    padding: 236px 0 0 0;
}

/*Section 1*/
section.section1 {
    padding: 0rem 5rem 0rem 12rem;
}
h3.sectionHeading {
    text-align: justify;
    font-size: 3rem;
    font-weight: 800;
    font-family: Caveat, cursive;
    color: rgb(23, 82, 82);
}

/*Section 2*/
section.section2 {
    padding: 0rem 8rem 0rem 8rem;
}
.row.row-cols-1.row-cols-md-4 {
    padding: 2rem;
    background-color: crimson;
    border-radius: 2rem;
    margin-bottom: 3rem;
}
.card {
    height: 20rem;
}
img.card-img-top {
    height: 150px;
    width: auto;
}
.card-body {
    text-align: center;
}
p.priceTag {
    text-align: justify;
    font-weight: 500;
    margin: 1rem;
}

/*Footer Section*/
.footertext{
    text-align: center;
    padding: 1rem;
    background: linear-gradient(to right, #2B8380, #768D8C, #2B8380);
}