@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400');

* {
  margin: 0;
  padding: 0;
}
html, body {
  /*height: 100%;*/
  background-color: rgb(196, 195, 194);
  background: url(Images/bgimg.jpg) center center / cover no-repeat;
}

section.section1 {
  text-align: center;
}
.signinpagetop {
  text-align: center;
  margin: 5px;
  padding: 5px;
}
.logowrapper {
  padding: 5px;
  height: 10rem;
  width: auto;
  margin: 2px;
}
img.logo {
  height: 9rem;
  width: 7rem;
}
.headingwrapper {
  padding: 1px;
  margin: 1px;
}
h1 {
  z-index: 2;
  color: #fff;
  font: normal 300 60px/1 'Josefin Sans', sans-serif;
}
.signWrapper {
  padding: 1rem;
  margin: 1rem 35rem 1rem 35rem;
  background-color: #059bfd;
  opacity: .8;
  border-radius: .2rem;
}
.signWrapperHeading {
  text-align: center;
}
label {
  color: #003071;
  font-weight: 600;
}
.impLinks {
  text-align: center;
}
.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: aliceblue;
}